@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This site was enabled by Microsoft's ASP.NET MVC frameworks and .NET courses taken at Eleven Fifty Academy, a nonprofit coding school in Indianapolis, Indiana.</p>
<hr />
<p>As you've probably seen on the landing page (and by the scarcity of the site itself), there's a ways to go to bring this "wholly unique" webpage to its fullest potential.</p>
<br />
<p>As a new junior developer, however, it's a perfect starting place. It's rough around the edges, there's plenty of room for improvement, and it's a great excercise in time management, learning and implementing new concepts, and deploying them to the world for better or for worse.</p>
<br />
<p>But enough about me, this is a website about quotes, a place for words for the sake of words... especially the good ones.</p>

<h5>Here's a quick list of to-do's:</h5>
<ul>Add Movie quotes!</ul>
<ul>(with associated tables of directors and actors!)</ul>
<ul>Include TV shows!</ul>
<ul>Songs!</ul>
<ul>Poems!</ul>
<ul>Speeches!</ul>
<br />
<ul>Adding fully functional forums for discussions regarding your favorite collections of words, or other miscellaneous topics!</ul>
<ul>Rating systems, hearts and warning signs</ul>
<ul>sidebar in the landing page of highest rated quotes!</ul>
<ul>Admin views!</ul>
<ul>admin hub to review flagged quotes (the warning signs)</ul>
<ul>images behind those lovely words</ul>
<ul>(possibly randomly generated colors at first, then possibly randomly generated scenery images after)</ul>
<ul>ability to add images of your own!</ul>
<ul>in hindsight, forum moderation in case I find I can't trust the internet community</ul>
<br />
<ul>further refactoring of methods</ul>
<ul>redesigning imput forms for a sleeker look</ul>
<ul>further redesign of landing page index, both for alignment and list aesthetics</ul>
<ul>probable complete overhaul in a +-year once I get more experience under my belt</ul>
