@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Indianapolis, IN
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mackwisler@gmail.com">mackwisler@gmail.com</a><br />
</address>